#address-bar{
    /* margin-right: -20px; */
    resize: both;
}


.headerDiv {
  float: left;
  width: 33%;
  text-align: center; 
  color: white;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 30px;
  background:rgba(101, 92, 92, 0.7);
}

.first {
  text-align: center;
  width: 20%;
}

.second {
  width: 65%;
}

.third {
  width: 15%;
  text-align: center;
  height:auto;
}
