#address-bar{
    /* margin-right: -20px; */
    resize: both;
}


.headerDiv {
  float: left;
  /*width: 33%;*/
  text-align: center;
  color: white;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 30px;
  background:rgba(101, 92, 92, 0.7);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.headerDiv.first {
  text-align: center;
  width: 20%;
}

.headerDiv.second {
  width: 65%;
}

.headerDiv.third {
  width: 15%;
  text-align: center;
  height:auto;
}
