.unpin-pannel-hight{
    height: 250px;
}

.unpin-pannel-hight-body{
    height: 200px;
}

.lobipanel-minimized-toolbar{
    background-color:transparent !important;
}

.bom-hide{
    display: none;
}