
#top-menu{
    display: block;
}
#tool-items-ul {
    list-style-type: none;
    height: 20px;
    margin-left: -0px;
    margin-top: 8px;
}

#tool-items-ul a{
	text-align:center;
}
#tool-items-ul1 {
    list-style-type: none;
    height: 20px;
    margin-left: -0px;
    margin-top: 8px;
}

#tool-items-ul1 a{
    text-align:center;
}
li.toggle-button.active {
    background:rgba(81,116,140,0.1);
    /*border:1px solid rgb(81,116,140) !important; */
}

/*#tool-items-ul li.active {
	background:#F3F3F3;
	 border:1px solid black;
}*/

#tool-items-ul > li {
    float: left;
    border:1px solid transparent;
}

#tool-items-ul > li > a {
    display: inline-block;
    padding: 2px;
    text-decoration: none;
    width: 34px;
    outline: none; 
}

.image-item, .image-item-hover{
    width: 24px;
    height: 24px;
}

/* tool tip*/

/* Tooltip container */
.tool-item {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tool-item .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-top: 2px;
    margin-left: 0px;
    padding: 5px 0;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    opacity: 0.8;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tool-item:hover .tooltiptext {
    visibility: visible;
}


/* Tool-item hover image */
.tool-item .image-item-hover{
    display: none;
}
.tool-item:hover .image-item-hover{
    display: inline-block;
}

/* Tool-item image */
.tool-item .image-item{
    display: inline-block;
}
.tool-item:hover .image-item{
    display: none;
}

.active .image-item{
    display: none;
}

.active .image-item-hover {
    display: inline-block;
}

.title-changecolour{border-color:white;
    background-color: #FFFFFF;
}
