.loging_form{
	width:280px;
	height:390px;
	margin:auto;
	background-color:#fff;
	border:#000 1px solid;
	}

.input_name{
    width: 175px;
    padding: 0px 6px;
    margin: 20px 0px 0px 50px;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
}

.input_pass{
	width: 175px;
    padding: 0px 6px;
    margin: 10px 0px 0px 50px;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
	}
	
.input_checkd_box{
    margin: 10px 0px 0px 50px !important;
    display: inline-block;
	}
.btn_lg{
margin: 10px 0px 0px 180px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;
	}
.frogot_pass{
	    margin: 30px 54px 0px 50px;
	padding:5px 0px;
	border-top:1px solid #000;	
	}
.copyright_txt{
	margin: 25px 0px 0px 48px;
    font-size: 6.5px;
	
	}
.frogot_pass a{
	color:#000;
	text-decoration:none;
	}
.passreset_txt{
	margin: 15px 0px 0px 50px;
    font-size: 10.2px;
	}
.btn_smb{
	margin: 30px 0px 0px 170px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;
	}
.brand_logo{
	margin:55px 0px 0px 50px;
	font-size:38px;
	
	}

body.modal-open {
	overflow-y: scroll !important;
}