html {
    height: 100%;
}

body {
    height: 100%;
}

.login-container {
    height: 100%;
}

.login-row-top {
    height: 20%;
}

.login-row-middle {
    height: 60%;
}

.login-row-bottom {
    height: 20%;
}

.login-slider {
    height: 100%;
}

.login-wrapper {
    height: 100%;
}

.carousel {
    margin: 30px 20px;
}

.login-theme-title {
    text-align: center;
    font-size: 35px;
    line-height: 5;
    color: #333;
}

.btn-width-full {
    width: 100% !important;
}

/*

    Sign Up Styles

*/
.logo {
    /* background: url('../images/logo_new.png') no-repeat; */
    background-position: top center;
    height: 60px;
    background-size: contain;
}

.signup {
    margin: 0px auto;
    background: #fff;
}

.signup .form-group {
    color: #fff;
}

.signup .logo img {
    max-width: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.signup form {
    background: #5b5d5c;
    border-top-right-radius: 80px;
}

.login-btn {
    background: #5b5d5c;
    border: 1px solid #333;
    color: #fff;
    font-weight: bold;
    margin-right: 0px;
}

.login-btn:hover {
    background: #333;
    color: #fff;
}

.signup .signup-wrapper {
    background: #5b5d5c;
    border-top-right-radius: 80px;
    border: 5px dashed #ccc;
    padding: 30px;
}

.signup .signup-wrapper .header {
    padding: 0px 10px 10px 10px;
    margin: 0;
}

.signup .signup-wrapper .header h2 {
    line-height: 32px;
    margin: 0;
    padding: 0;
    color: #e6e6e6;
}

.signup .signup-wrapper .header p {
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    color: #999999;
    padding: 10px 0;
    margin: 0;
}

.signup .signup-wrapper .disc {
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    color: #090808;
    padding: 10px 0;
    font-weight: bold;
    margin: 0;
}

.signup .signup-wrapper .header .logo img {
    max-width: 80px;
    float: right;
}

.signup .signup-wrapper .content {
    padding: 10px;
}

.signup .signup-wrapper .content .input {
    margin-top: 15px;
    font-weight: 400;
    border: 1px solid #666666;
}

.signup .signup-wrapper .content .select {
    height: 52px;
    width: 340px;
}

.signup .signup-wrapper .content .select option {
    padding: 10px 20px;
}

.signup .signup-wrapper .content .input:hover, .signup .signup-wrapper .content select:hover {
    background: #e6e6e6;
    color: #333333;
}

.signup .signup-wrapper .actions {
    padding: 10px;
}

.signup .signup-wrapper .actions a {
    color: #b3b3b3;
}

.signup .signup-wrapper .checkbox {
    visibility: hidden;
}

.signup .signup-wrapper .checkbox-wrapper {
    display: block;
    position: relative;
    top: 10px;
    width: 120px;
    color: #b3b3b3;
}

.signup .signup-wrapper .checkbox-wrapper .label-text {
    position: absolute;
    left: 20px;
    top: -2px;
    color: #b3b3b3;
    font-size: 12px;
}

.signup .signup-wrapper .checkbox-label {
    position: absolute;
    top: 0;
    left: 0px;
    right: 10px;
    width: 14px;
    height: 14px;
    color: #e6e6e6;
    background: #4d4d4d;
    border: 1px solid #666666;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.signup .signup-wrapper .checkbox-label:after {
    border: 1px solid #b3b3b3;
    position: absolute;
    top: 4px;
    left: 3px;
    opacity: 0;
    content: '';
    width: 6px;
    height: 3px;
    background: transparent;
    border: 2px solid #e6e6e6;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.signup .signup-wrapper .checkbox-label:hover::after {
    opacity: 0.5;
}

.signup .signup-wrapper .checkbox:checked + .checkbox-label:after {
    opacity: 1;
}

@media only screen and (max-width: 479px) {
    .login-row-top {
        height: 10%;
    }

    .login-row-middle {
        height: 80%;
    }

    .login-slider {
        display: none;
    }

    .signup {
        margin: 0px;
    }

    .login-row-bottom {
        height: 10%;
    }

    .login-theme-title-container {
        display: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
    .login-row-top {
        height: 25%;
    }

    .login-row-middle {
        height: 50%;
    }

    .login-slider {
        display: none;
    }

    .signup {
        margin: 0px;
    }

    .login-row-bottom {
        height: 25%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .login-row-top {
        height: 25%;
    }

    .login-row-middle {
        height: 50%;
        width: 80%;
        margin: 0 auto;
    }

    .login-slider {
        display: none;
    }

    .signup {
        margin-top: 20px;
    }

    .login-row-bottom {
        height: 25%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .login-row-top {
        height: 20%;
    }

    .login-row-middle {
        height: 50%;
        width: 80%;
        margin: 0 auto;
    }

    .login-slider {
        display: none;
    }

    .signup {

    }

    .login-row-bottom {
        height: 25%;
    }
}

@media only screen and (min-width: 1024px)and (max-width: 1365px) {
    .carousel.slide {
        height: 75%;
    }

    .carousel-inner {
        height: 100%;
    }

    .carousel .item {
        height: 100%;
    }

    .carousel .item img {
        height: 100% !important;
        width: 100%;
    }

    .carousel {
        margin: 45px 20px;
    }

    .signup .signup-wrapper {
        padding: 15px 30px !important;
    }
}

@media only screen and (min-width: 1365px) {
    .carousel.slide {
        height: 75%;
    }

    .carousel-inner {
        height: 100%;
    }

    .carousel .item {
        height: 100%;
    }

    .carousel .item img {
        height: 100% !important;
        width: 100%;
    }

    .signup .signup-wrapper {
        padding: 20px 30px !important;
    }
}